{% extends 'base.html' %}

{% block head %}
    <title> EDIT POST </title>
{% endblock %}

{% block body %}
    <h1> Edit Post: </h1>
    <form action="/posts/edit/{{post.id}}" method="POST">
        <label for="content">Title:</label>
        <input class="form-control" type="text" id="title" name="title" value="{{post.title}}" aria-label="Enter your title">
        <label for="content">Author:</label>
        <input class="form-control" type="text" id="author" name="author" value="{{post.author}}" aria-label="Enter Author">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" rows="3"> {{post.content}} </textarea>
        <br>
        <button class="btn btn-success" type="submit">save</button>
        <hr>
    </form>
{% endblock %}