{% extends 'base.html' %}

{% block head %}
<title> HOME </title>
{% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Home Page: </h1>
            <p>Welcom to Blog Posts Home page</p>
            <p>You can post what ever you want , to see posts or create a new post click 'ALL POSTS'</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">ALL POSTS &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}