{% extends 'base.html' %}

{% block head %}
<title> CREATE NEW POST </title>
{% endblock %}

{% block body %}
<h2> Create a New Post: </h2>
<form action="/posts/new_post" method="POST">
    <label for="content">Title:</label>
    <input class="form-control" type="text" id="title" name="title" placeholder="Enter your title"
        aria-label="Enter your title">
    <label for="content">Author:</label>
    <input class="form-control" type="text" id="author" name="author" placeholder="Enter Author"
        aria-label="Enter Author">
    <label for="content">Content:</label>
    <textarea class="form-control" id="content" name="content" rows="3" placeholder="Enter Content"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Post</button>
    <hr>
</form>
{% endblock %}